<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title class="logo">ACQUISTO</title>
    <link rel="stylesheet" th:href="@{/CSS/main.css}">
</head>

<body>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <span th:text="'hello, '+${user.username}">Username</span>
    <a th:href="@{/home}" class="btn-home">Home</a>
</div>

<div th:if="${error}" class="error-alert">
    <p th:text="${error}" style="color: red;"></p>
</div>

<div th:if="${message}" class="error-alert">
    <p th:text="${message}" style="color: green;"></p>
</div>

<form th:action="@{/buy}" method="get" style="margin-bottom: 20px;">
    <label for="keywords">Cerca per parola chiave:</label>
    <input type="text" id="keywords" name="keywords" placeholder="Inserisci parola chiave" required>
    <button type="submit">Cerca</button>
</form>

<span><h1>Asta Risultati della ricerca:</h1></span>
<span th:if="${openAuctions.size() == 0}">Nessuna asta in corso trovata.</span>
<div th:if="${openAuctions.size() > 0}">
    <table class="auction-list">
        <thead>
        <tr>
            <th>Codice Asta</th>
            <th>Nome Articoli</th>
            <th>Offerta Massima €</th>
            <th>Tempo Mancante</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="openAuction : ${openAuctions}">
            <td><a th:href="@{/offer(id=${openAuction.auction.auctionId})}" th:text="${openAuction.auction.auctionId}">test_id</a></td>
            <td>
                <div th:each="item : ${openAuction.items}">
                    <img th:src="@{${item.cover_image}}" alt="Item image" style="width:30px;height:30px;margin-left:5px;">
                    <span th:text="${item.title}">test_item_title</span>
                </div>
            </td>
            <td th:text="${openAuction.maxOffer}">1000</td>
            <td th:text="${openAuction.timeLeft}">10 giorni e 5 ore</td>
        </tr>
        </tbody>
    </table>
</div>

<!--  Offerte aggiudicate -->
<span><h1>Le mie offerte aggiudicate</h1></span>
<span th:if="${wonAuctions.size() == 0}">Nessuna offerta aggiudicata.</span>
<table class="auction-list">
    <thead>
    <tr>
        <th>Codice Asta</th>
        <th>Codice Articolo</th>
        <th>Nome Articoli</th>
        <th>Descrizione</th>
        <th>Prezzo Articolo €</th>
        <th>Prezzo Finale €</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="wonAuction : ${wonAuctions}">
        <tr>
            <td th:text="${wonAuction.auction.auctionId}"
                th:rowspan="${#lists.size(wonAuction.items)}">AuctionID</td>

            <td th:text="${wonAuction.items[0].id}">ItemID</td>
            <td>
                <img th:src="@{${wonAuction.items[0].cover_image}}"
                     style="width:30px;height:30px;margin-left:5px;">
                <span th:text="${wonAuction.items[0].title}">Title</span>
            </td>
            <td th:text="${wonAuction.items[0].description}">Description</td>
            <td th:text="${wonAuction.items[0].price}">Price</td>

            <td th:text="${wonAuction.result.final_price}"
                th:rowspan="${#lists.size(wonAuction.items)}">TotalPrice</td>
        </tr>

        <!-- 剩余 items -->
        <tr th:each="item, iterStat : ${wonAuction.items}" th:if="${iterStat.index > 0}">
            <td th:text="${item.id}">ItemID</td>
            <td>
                <img th:src="@{${item.cover_image}}"
                     style="width:30px;height:30px;margin-left:5px;">
                <span th:text="${item.title}">Title</span>
            </td>
            <td th:text="${item.description}">Description</td>
            <td th:text="${item.price}">Price</td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>