<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title th:text="'Dettaglio asta - ' + ${auction.auctionId}">Dettaglio asta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/main.css}">
</head>
<body>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <span th:text="'hello, '+${user.username}">Username</span>
    <a class="back-link" th:href="@{/sell}">Torna alla VENDO</a>
</div>

<div th:if="${error}" class="error-alert">
    <p th:text="${error}" style="color: red;"></p>
</div>

<div th:if="${message}" class="error-alert">
    <p th:text="${message}" style="color: green;"></p>
</div>



<h1>Dettaglio Asta</h1>

<div class="auction-details">
    <p><strong>ID asta:</strong> <span th:text="${auction.auctionId}"></span></p>
    <p><strong>Titolo:</strong> <span th:text="${auction.title}"></span></p>
    <p><strong>Prezzo iniziale:</strong> €<span th:text="${auction.startingPrice}"></span></p>
    <p><strong>Incremento minimo:</strong> €<span th:text="${auction.minIncrement}"></span></p>
    <p><strong>Data di chiusura:</strong> <span th:text="${#temporals.format(auction.ending_at, 'dd/MM/yyyy HH:mm')}"></span></p>
    <p><strong>Stato:</strong> <span th:text="${auction.closed? 'Chiusa' : 'Aperta' }"></span></p>
</div>

<div class="offers-table">
    <h2>Offerte</h2>
    <table>
        <thead>
        <tr>
            <th>ID Offerta</th>
            <th>Utente</th>
            <th>Prezzo Offerto</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${offers}">
            <td th:text="${offer.id}"></td>
            <td th:text="${offer.userId}"></td>
            <td>€<span th:text="${offer.offeredPrice}"></span></td>
            <td th:text="${#temporals.format(offer.offeredTime, 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        <tr th:if="${#lists.isEmpty(offers)}">
            <td colspan="4" style="text-align:center;">Nessuna offerta ancora</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${closeable}">
    <form th:action="@{/close}" method="post">
        <input type="hidden" name="auction_id" th:value="${auction.auctionId}"/>
        <button type="submit">CHIUDI</button>
    </form>
</div>

<span><h1>Dati articoli</h1></span>
<span th:if="${items.size() == 0}">Nessuna articolo trovato (sicuramente c'e un errore)</span>
<table class="auction-list">
    <thead>
    <tr>
        <th>Codice Articolo</th>
        <th>Nome Articoli</th>
        <th>Descrizione</th>
        <th>Prezzo Articolo €</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}">test_id</td>
        <td>
            <img th:src="@{${item.cover_image}}" alt="Item image"
                 style="width:30px;height:30px;margin-left:5px;">
            <span th:text="${item.title}">test_item_title</span>
        </td>
        <td th:text="${item.description}">test_item_title</td>
        <td th:text="${item.price}">test_item_price</td>
    </tr>
    </tbody>
</table>


</body>
</html>