<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction House</title>
    <link rel="stylesheet" th:href="@{/CSS/main.css}">
</head>

<body>
<div class="navbar">
    <div class="left">
        <span id="user-username" th:text="${user.username}">Username</span>
        <a th:href="@{/login(logout=1)}" class="btn-logout">Safe Logout</a>
    </div>

    <div class="center">
        <div class="error-alert">
            <p style="color: red;" th:if="${error}"></p>
        </div>
        <div class="message-alert">
            <p style="color: green;" th:if="${message}"></p>
        </div>
    </div>

    <div class="right">
            <a id="sell-container" class="sell-btn" th:href="@{/sell}">Sell</a>
            <a id="buy-container" class="buy-btn" th:href="@{/buy}">Buy</a>
    </div>
</div>
</body>
</html>