<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title class="logo">Vendo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/main.css}">
</head>
<body>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <span th:text="'hello, '+${user.username}">Username</span>
    <a th:href="@{/home}" class="btn-home">Home</a>
</div>

<div th:if="${error}" class="error-alert">
    <p th:text="${error}" style="color: red;"></p>
</div>

<div th:if="${message}" class="error-alert">
    <p th:text="${message}" style="color: green;"></p>
</div>

<span><h1>Aste aperte</h1></span>
<table class="auction-list">
    <thead>
    <tr>
        <th>Codice Asta</th>
        <th>Nome Articoli</th>
        <th>Offerta Massima €</th>
        <th>Tempo Mancante</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="openAuction : ${openAuctions}">
        <td><a th:href="@{/auction(id=${openAuction.auction.auctionId})}" th:text="${openAuction.auction.auctionId}">test_id</a></td>
        <td>
            <div th:each="item : ${openAuction.items}">
                <img th:src="@{${item.cover_image}}" alt="Item image" style="width:30px;height:30px;margin-left:5px;">
                <span th:text="${item.title}">test_item_title</span>
            </div>
        </td>
        <td th:text="${openAuction.maxOffer}">1000</td>
        <td th:text="${openAuction.timeLeft}">10 giorni e 5 ore</td>
    </tr>
    </tbody>
</table>

<span><h1>Aste chiuse</h1></span>
<table class="auction-list">
    <thead>
    <tr class="col-articoli">
        <th>Codice Asta</th>
        <th>Nome Articoli</th>
        <th>Scadenza</th>
        <th>Prezzo Iniziale €</th>
        <th>Incremento Minimo €</th>
        <th>Stato</th>
        <th>Tempo di Creazione</th>
        <th>Nome Aggiudicatario</th>
        <th>Prezzo Finale €</th>
        <th>Indirizzo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="closedAuction : ${closedAuctions}">
        <td><a th:href="@{/auction(id=${closedAuction.auction.auctionId})}" th:text="${closedAuction.auction.auctionId}">test_id</a></td>
        <td class="col-articoli">
            <div th:each="item : ${closedAuction.items}" style="white-space:nowrap;">
                <img th:src="@{${item.cover_image}}" alt="Item image" style="width:30px;height:30px;margin-left:5px;">
                <span th:text="${item.title}">test_item_title</span>
            </div>
        </td>
        <td th:text="${#temporals.format(closedAuction.auction.ending_at, 'yyyy-MM-dd HH:mm:ss')}">100</td>
        <td th:text="${closedAuction.auction.startingPrice}">1000</td>
        <td th:text="${closedAuction.auction.minIncrement}">100</td>
        <td th:text="${closedAuction.auction.closed ? 'chiuso' : 'open'}">open</td>
        <td th:text="${#temporals.format(closedAuction.auction.created_at, 'yyyy-MM-dd HH:mm:ss')}">2021-09-10 12:00:00</td>
        <td th:text="${closedAuction.result.winner_name}">test_bidder_name</td>
        <td th:text="${closedAuction.result.final_price}">1200</td>
        <td th:text="${closedAuction.result.shipping_address}">test_address</td>
    </tr>
    </tbody>
</table>

<section class="create-item">
    <h2>Carica un'articolo</h2>
    <form th:action="@{/uploadItem}" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group">
                <label>*Nome Articolo:</label>
                <label>
                    <input type="text" name="item" required maxlength="100" placeholder="nome articolo(max 100 caratteri)">
                </label>
            </div>
            <div class="form-group">
                <label>*Prezzo €:</label>
                <label>
                    <input type="number" name="price" required max="9999999.99"
                           step="0.01" min="0" placeholder="prezzo in euro(max 100 caratteri)">
                </label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="description">*Descrizione:</label>
                <textarea id="description"
                          name="description"
                          required
                          placeholder="Inserisci una breve descrizione dell'articolo (max 255 caratteri)"
                          maxlength="255"
                          rows="4"
                          style="width:100%; resize:vertical;"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>*Immagine:</label>
            <input type="file" name="cover" accept="image/*">
        </div>

        <button type="submit" class="btn-primary">Carica</button>
    </form>
</section>

<section class="create-auction">
    <h2>Crea una Asta</h2>
    <form th:action="@{/auction}" method="POST">
        <input type="hidden" name="sourcePage" value="home">
        <div class="form-group">
            <label>*Asta Title:</label>
            <label>
                <input type="text"
                       name="title"
                       required
                       minlength="3"
                       maxlength="100"
                       placeholder="Inserisci il titolo dell'asta(max 100 caratteri)"
                       style="width: 100%;">
            </label>
            <label>*Minimo Incremento €:</label>
            <label>
                <input type="number"
                       name="minIncrement"
                       placeholder="Inserisci un numero intero positivo"
                       step="1"
                       required
                       min="1"
                       style="width: 100%;">
            </label>
            <label>*Scadenza:</label>
            <label>
                <input type="datetime-local"
                       name="endDate"
                       required
                       th:attr="min=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd\'T\'HH:mm')}">
            </label>
        </div>
        <button type="submit" class="btn-primary">Crea Asta</button>


        <h3>Seleziona gli articoli da inserire</h3>
        <section class="available-items">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Immagine</th>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Prezzo €</th>
                    <th>Descrizione</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${itemsAvailable}">
                    <td style="width: 20px; text-align: center;">
                        <label>
                            <input type="checkbox"
                                   class="item-checkbox"
                                   name="selectedItems"
                                   th:value="${item.id}"
                                   style="width: 20px; height: 20px;">
                        </label>
                    </td>
                    <td>
                        <img th:src="@{${item.cover_image}}"
                             alt="cover" class="cover"
                             style="width:50px; height:auto;">
                    </td>
                    <td th:text="${item.id}">item_id</td>
                    <td th:text="${item.title}">item_title</td>
                    <td th:text="${item.price}">item_price</td>
                    <td th:text="${item.description}">item_descrizione</td>
                </tr>
                </tbody>
            </table>
        </section>
    </form>
</section>

</body>
</html>